!!! 5
html(lang="en")
  head
    title Refactoring Noduino
    link(rel="stylesheet", href="styles/bootstrap/init.css")
    link(rel="stylesheet", href="styles/prettify.css")
    link(rel="stylesheet", href="styles/init.css")
    script(data-main="scripts/test.js", type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
  body
    .container!=body