
<div class="row example">

  <div class="span12">
    <p>Hit Enter, Space bar, or click the button below to run the test.</p>
  </div>
  <div id="e2-exampleConnection" class="span12">
    <p><a href="#" id="e2-buttonConnect" class="btn" name="e2-buttonConnect">Blink every half-second</a></p>
  </div>

  <div id="e2-secondStep" class="span12">
    <p>
      <label id="e2-status" style="position: relative; top: -2px;" class="label">LED off</label></p>

    <div class="hide board-error">
      Board connection error.
    </div>

    <div class="hide error">
      Error: see console.
    </div>
  </div>
</div>